@font-face {
    font-family: "NotoSansThai_Condensed-Medium";
    src: url("../fonts/NotoSansThai_Condensed-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "NotoSansThai_Condensed-Medium";
    src: url("../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
}

:root {
    --font-primary: "NotoSansThai_Condensed-Medium", sans-serif;
}

html,
body,
button,
input,
textarea,
select {
    font-family: var(--font-primary);
}
